.pyq-logo {
  width: 76px;
  height: 76px;
  background: url(../img/pyq-logo.png) no-repeat center center;
}

.ph2 {
  width: 600px;
  height: 441px;
  background: url(../img/photo_02.jpg) no-repeat;
}
